    <!-- header area -->
    <header class="header custom-header">

        <!-- top header -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="header-top-left">
                        <div class="header-top-contact">
                            <ul>
                                <li>
                                    <div class="header-top-contact-info">
                                        <a href="#"><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New
                                            York</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-top-contact-info">
                                        <a href="https://live.themewild.com/cdn-cgi/l/email-protection#4b22252d240b2e332a263b272e65282426"><i class="far fa-envelope"></i>
                                            <span class="__cf_email__" data-cfemail="eb82858d84ab8e938a869b878ec5888486">[email&#160;protected]</span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-top-contact-info">
                                        <a href="#"><i class="far fa-clock"></i> Sun - Fri (08AM - 10PM)</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if request.session.log_name %}
                      <div class="header-top-right">
                          <p style="color:blue;">{{ request.session.log_name }}</p>
                        <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
                   </div>
                    {% else %}
                   <div class="header-top-right">
                        <a href="/login" class="btn btn-outline-light me-2">Login</a>
                        <a href="/register" class="btn btn-outline-light me-2">Register</a>
                   </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container custom-nav">
                    <a class="navbar-brand" href="/">
                        <img src="/static/img/logo/logo4.png" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="mobile-menu-list">
                            <a href="#" class="mobile-menu-link search-box-outer"><i class="far fa-search"></i></a>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-btn-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown">Home</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="/">Home One</a></li>
                                    <li><a class="dropdown-item" href="index-2.html">Home Two</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Home Three</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="service.html">Services One</a></li>
                                    <li><a class="dropdown-item" href="service-2.html">Services Two</a></li>
                                    <li><a class="dropdown-item" href="/service-single">Service Single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="/about">About Us</a></li>
                                    <li><a class="dropdown-item" href="team">Our Team</a></li>
                                    <li><a class="dropdown-item" href="/adopt">Get Adoption</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Account</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/login">Login</a></li>
                                            <li><a class="dropdown-item" href="/register">Register</a></li>
                                            <li><a class="dropdown-item" href="/fpass">Forgot Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Extra Pages</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                            <li><a class="dropdown-item" href="vetdis">Vet Details</a></li>
                                            <li><a class="dropdown-item" href="terms.html">Terms Of Service</a></li>
                                            <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                    <li><a class="dropdown-item" href="pricing.html">Pricing Plan</a></li>
                                    <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                    <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li>
                                    <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Shop</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                    <li><a class="dropdown-item" href="shop-cart.html">Shop Cart</a></li>
                                    <li><a class="dropdown-item" href="shop-checkout.html">Shop Checkout</a>
                                    <li><a class="dropdown-item" href="/ssp">Shop Single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="/blog">Blog</a></li>
                                    <li><a class="dropdown-item" href="/blogs">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                        <div class="header-nav-right">

                            <div class="header-nav-search">
                                <a href="#" class="header-nav-link search-box-outer"><i class="far fa-search"></i></a>
                            </div>

                            <div class="header-btn">
                                <a href="#" class="theme-btn mt-2">User name<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->


    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="far fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" placeholder="Search Here..." required>
                <button type="submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- popup search end -->