{% include 'messages.html' %}
<header class="header custom-header">

        <!-- top header -->
      <div class="header-top">
    <div class="container">
        <div class="header-top-wrapper">
            <!-- LEFT SIDE: Contact Info -->
            <div class="header-top-left">
                <div class="header-top-contact">
                    <ul>
                        <li>
                            <div class="header-top-contact-info">
                                <a href="#"><i class="fas fa-user-md"></i> Verified Vet Portal</a>
                            </div>
                        </li>
                        <li>
                            <div class="header-top-contact-info">
                                <a href="mailto:vet.support@petcarehub.in"><i class="fa fa-envelope"></i> vet.support@petcarehub.in</a>
                            </div>
                        </li>
                        <li>
                            <div class="header-top-contact-info">
                                <a href="#"><i class="fa fa-clock"></i> 24/7 Dashboard Access</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- RIGHT SIDE: Login/Register or Logout/Profile -->
            {% if request.session.vet_log_name %}
            <div class="header-top-right d-flex align-items-center gap-2">
                <a href="/vlogout" class="btn btn-outline-light btn-sm">Logout</a>
                <div class="header-btn">
                    <a href="#" class="theme-btn btn-sm">{{ request.session.vet_log_name }}</a>
                </div>
            </div>
            {% else %}
            <div class="header-top-right d-flex align-items-center gap-2">
                <a href="/vetLogin" class="btn btn-outline-light btn-sm">Login</a>
                <a href="/vetRegister" class="btn btn-outline-light btn-sm">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container custom-nav">
                    <a class="navbar-brand" href="/vetHome">
                        <img src="/static/img/logo/logo4.png" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="mobile-menu-list">
                            <a href="#" class="mobile-menu-link search-box-outer"><i class="fa fa-search"></i></a>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-btn-icon"><i class="fa fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <li class="nav-item"><a class="nav-link" href="/vetHome">Home</a></li>

                            </li>
                            <li class="nav-item"><a class="nav-link" href="/manageAppoint">Manage Appointment</a></li>
                        <!--    <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="/adopt">Get Adoption</a></li>
                                    <li><a class="dropdown-item" href="/vetdis">Vet Details</a></li>

                                    {% if request.session.vet_log_name %}
                                    <li><a class="dropdown-item" href="/userManageAppointment">View Appointment</a></li>

                                    {% endif %}
                                </ul>

                            </li> -->
                            <!--
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Shop</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                                    <li><a class="dropdown-item" href="shop-cart.html">Shop Cart</a></li>
                                    <li><a class="dropdown-item" href="vetWithdraw.html">Shop Checkout</a>
                                    <li><a class="dropdown-item" href="/ssp">Shop Single</a></li>
                                </ul>
                            </li>  -->



                            <li class="nav-item"><a class="nav-link" href="/blogpost">Publish Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="/manageBlog">Manage Blog</a></li>
                        </ul>
                        <div class="header-nav-right">

                            <div class="header-nav-search">
                                <a href="#" class="header-nav-link search-box-outer"><i class="fa fa-search"></i></a>
                            </div>


                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->


    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="fa fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" placeholder="Search Here..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>